---
---

@import "{{ site.theme }}";

.main-content
{
    text-align: justify;
    text-justify: inter-word;
}

.project-name
{
    //background-image: url("../images/Scene3_Robot.png");
    //color: #FF0000;
}

.btn
{
    display: none;
}
